@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Regular.ttf");
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 14pt;
  background-color: white;
  color: #000000;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body h2 {
  font-size: 16pt;
  font-weight: 600;
}

.root {
  height: 800px;
  width: 1000px;
  outline: 3px solid #000000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.root .menu {
  width: 400px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  outline: 2px solid black;
  background-color: #dfe1f8;
}
.root .menu .menu-header {
  height: 60px;
  width: calc(100% - 20px);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.root .menu .menu-header h1 {
  font-size: 16pt;
  font-weight: 900;
}
.root .menu .menu-items {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
}
.root .menu .menu-items .menu-item {
  height: 60px;
  width: calc(100% - 20px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  gap: 10px;
  padding: 10px;
  cursor: pointer;
}
.root .menu .menu-items .menu-item .menu-item-data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  width: 100%;
}
.root .menu .menu-items .menu-item .menu-item-data h2 {
  margin: 0 0 0 0;
}
.root .menu .menu-items .menu-item .menu-item-data p {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14pt;
  margin: 0 0 0 0;
  color: #8c8fa0;
}
.root .menu .menu-items .menu-item .menu-item-notification {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  visibility: hidden;
  flex-shrink: 0;
}
.root .menu .menu-items .menu-item .menu-item-notification.active {
  visibility: visible;
  background-color: #0099ff;
}
.root .menu .menu-items .menu-item.selected {
  background-color: #d2d3e8;
}
.root .chat {
  width: 600px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.root .chat .chat-none {
  background-color: white;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  content: "No chat selected";
}
.root .chat .chat-header {
  height: 60px;
  width: calc(100% - 20px);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
  padding: 10px;
  outline: 2px solid black;
}
.root .chat .chat-header h1 {
  font-size: 16pt;
  font-weight: 900;
}
.root .user-avatar {
  width: 50px;
  height: 50px;
  background-color: rgb(94, 199, 234);
  border-radius: 50%;
  flex-shrink: 0;
}

/*# sourceMappingURL=index.css.map */
