$light-shades: white;
$light-tints: #d2d3e8;
$main-color: #0099ff;
$main-tints: #dfe1f8;
$dark-shades: #000000;
$dark-tints: #8c8fa0;

$window-height: 800px;
$window-width: 1000px;

$name-size: 16pt;
$text-size: 14pt;

$default-gap: 10px;

@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Regular.ttf');
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: $light-shades;
    color: $dark-shades;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.root {
    height: 800px;
    width: 1000px;
    outline: 3px solid $dark-shades;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .menu {
        width: calc($window-width * 0.4);
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        outline: 2px solid black;
        background-color: $main-tints;

        .menu-header {
            height: 60px;
            width: calc(100% - 20px);
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: $default-gap;

            h1 {
                font-size: $name-size;
                font-weight: 900;
            }
        }

        .menu-items {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            overflow-y: auto;

            .menu-item {
                height: 60px;
                width: calc(100% - 20px);
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                flex-shrink: 0;
                gap: $default-gap;
                padding: $default-gap;
                cursor: pointer;

                .user-avatar {
                    width: 50px;
                    height: 50px;
                    background-color: rgb(94, 199, 234);
                    border-radius: 50%;
                    flex-shrink: 0;
                }

                .menu-item-data {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: flex-start;
                    height: 100%;
                    width: 100%;

                    h2 {
                        font-size: $name-size;
                        font-weight: 600;
                        margin: 0 0 0 0;
                    }
                
                    p {
                        font-size: $text-size;
                        margin: 0 0 0 0;
                        color: $dark-tints
                    }
                }

                .menu-item-notification {
                    height: 20px;
                    width: 20px;
                    border-radius: 50%;
                    visibility: hidden;
                    flex-shrink: 0;
                }

                .menu-item-notification.active {
                    visibility: visible;
                    background-color: $main-color;
                }
            }

            .menu-item.selected {
                background-color: $light-tints;
            }
        }
    }
    
    .chat {
        width: calc($window-width * 0.6);
        height: 100%;
    }
}